<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gram.pictory">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_like"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_like"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/AppTheme">
        <activity android:name="com.gram.pictory.ui.main.Post.PostNextActivity">

        </activity>
        <activity android:name="com.gram.pictory.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name="com.gram.pictory.ui.signup.SignUpActivity"/>
        <activity android:name=".ui.ProfileEditActivity"/>
        <activity android:name=".ui.FollowerActivity"/>
    </application>

</manifest>